<form #groupForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">

    <div tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

        <div role="document">

            <div class="modal-header text-center clearfix">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close touch" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <input type="text" [(ngModel)]="newMembers" #name="ngModel" name="name" class="form-control"
                        autocomplete="off" required>
                    <label for="form1">Tìm thành viên...</label>
                </div>
                <validate-message [label]="'Tên thanh viên'" [input]="name"></validate-message>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="submit" class="btn btn-primary touch" [disabled]="groupForm.invalid">{{button}}</button>
                <button type="button" class="btn btn-secondary touch" (click)="close()"
                    data-dismiss="modal">Hủy</button>
            </div>

        </div>
    </div>

</form>