<div class="messaging">
  <div class="inbox_msg">

    <div class="row">
      <div class="inbox_people col-md-4 col-sm-4">
        <div *ngIf="user" class="user_info mb-1 p-2 border-bottom border-light clearfix">
          <div class="pull-left">
            <img *ngIf="user.avatar" class="avatar" src="{{user.avatar}}" alt="">
            <img *ngIf="!user.avatar" class="avatar" src="/assets/img/avatar.png" alt="">
            <p class="info_name">
              <b>Hi {{user.name}},</b>
              <br>
              <i style="font-size: 13px">Welcome to RecBook Webchat!</i>
            </p>
          </div>
          <button type="button" class="pull-right btn btn-sm btn-outline-warning btn-rounded waves-effect"
            (click)="logout()">Thoát</button>
        </div>

        <div class="headind_srch">
          <!-- <form class="form-inline form-sm active-purple active-purple-2 mb-1">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
          </form> -->

          <!-- <div class="recent_heading">
            <a [routerLink]="['/histories']" [routerLinkActive]="['active', 'disabled', 'btn-primary']"
              class="btn btn-sm d-block">Lịch sử</a>
          </div>
          <div class="srch_bar">
            <a [routerLink]="['/groups']" [routerLinkActive]="['active', 'disabled', 'btn-primary']"
              class="btn btn-sm d-block">Nhóm</a>
          </div> -->
        </div>

        <div class="inbox_chat scroll">
          <app-group #groupCtrl (messageRoomEvent)="receiveGroup($event)"></app-group>
        </div>

        <div class="bottom_bar clearfix">
          <div class="btn-group pull-right" role="group" aria-label="Vertical button group">
            <button *ngIf="allowLeaveRoom" class="btn btn-sm btn-secondary" type="button" (click)="onLeaveGroup()">Rời
              nhóm</button>
            <button *ngIf="myGroup" class="btn btn-sm btn-amber" type="button" (click)="addMoreMember()">Thêm thành
              viên</button>
            <button class="btn btn-sm btn-cyan" type="button" (click)="onCreateGroup()">Tạo nhóm</button>
          </div>
        </div>
      </div>


      <div class="mesgs col-md-6 col-sm-6">
        <div *ngIf="room" class="group_info text-center mb-3 p-2 border-bottom border-light clearfix">
          <p class="group_name"><b>{{room.name}}</b></p>
        </div>

        <div #scrollMe [scrollTop]="scrollMess" class="msg_history">
          <div *ngFor="let item of documents">

            <div *ngIf="item.type=='sts'">
              <p class="text-center"><small [innerHTML]="item.body"></small></p>
            </div>

            <div *ngIf="item.type!=='sts'">
              <div *ngIf="!item.me" class="incoming_msg">
                <div class="incoming_msg_img">
                  <img *ngIf="item.user.avatar" class="avatar" src="{{item.user.avatar}}" alt="">
                  <img *ngIf="!item.user.avatar" class="avatar" src="/assets/img/avatar.png" alt="">
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <b class="msg_name">{{item.user.name}}</b>
                    <p *ngIf="item.type=='text'" [innerHTML]="item.body" class="material-tooltip-smaller"
                      data-toggle="tooltip" rel="tooltip" data-placement="left" title="{{item.time}}"></p>
                  </div>
                </div>
              </div>

              <div *ngIf="item.me" class="outgoing_msg">
                <div class="sent_msg">
                  <p *ngIf="item.type=='text'" [innerHTML]="item.body" class="material-tooltip-smaller"
                    data-toggle="tooltip" rel="tooltip" data-placement="left" title="{{item.time}}"></p>
                </div>
              </div>
            </div>

          </div>

          <div *ngIf="typing" class="typing_status">
            <p>{{typing}}</p>
          </div>

        </div>

        <div class="type_msg">
          <div class="input_msg_write">
            <form #msgForm="ngForm" (ngSubmit)="onSendMsg($event)" (keyup.enter)="onSendMsg($event)">
              <div class="">
                <textarea [(ngModel)]="document.body" name="message" id="write_msg"
                  class="write_msg md-textarea form-control" placeholder="Nhập tin nhắn..." #msg
                  (keyup)="onTyping($event)" [disabled]="!typingEnabled"></textarea>
              </div>
              <!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i> -->
              <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>


      <div class="status_people col-md-2 col-sm-2">
        <app-member #memberCtrl></app-member>
      </div>

    </div>

  </div>
</div>