<div class="messaging">
  <div class="inbox_msg">

    <div class="row">
      <div class="inbox_people col-md-4 col-sm-4">
        <div *ngIf="user" class="user_info mb-3 p-2 border-bottom border-light clearfix">
          <img class="avatar" src="{{user.avatar}}" alt="">
          <p class="info_name">Hello {{user.name}}!</p>
        </div>

        <div class="headind_srch">
          <div class="stylish-input-group">
            <input type="text" class="search-bar border-light" placeholder="Tìm kiếm...">
          </div>
          <div class="recent_heading">
            <h4 class="active">Lịch sử</h4>
          </div>
          <div class="srch_bar">
            <h4>Nhóm</h4>
          </div>
        </div>
        <div class="inbox_chat scroll">
          <div class="chat_list active_chat">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="bottom_bar">

        </div>
      </div>


      <div class="mesgs col-md-6 col-sm-6">
        <div class="group_info mb-3 p-2 border-bottom border-light clearfix">
          <img class="avatar" src="/assets/img/avatar.png" alt="giang">
          <p class="info_name">Vu Duc Hong</p>
        </div>

        <div #scrollMe [scrollTop]="scrollMess" class="msg_history">
          <div *ngFor="let item of histories">
            <div *ngIf="!item.me" class="incoming_msg">
              <div class="incoming_msg_img">
                <img src="{{item.user.avatar}}" alt="{{item.user.name}}">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <b class="msg_name">{{item.user.name}}</b>
                  <p *ngIf="item.message.type=='text'" [innerHTML]="item.message.body"></p>
                  <span class="time_date"> {{item.time}}</span>
                </div>
              </div>
            </div>

            <div *ngIf="item.me" class="outgoing_msg">
              <div class="sent_msg">
                <p *ngIf="item.message.type=='text'" [innerHTML]="item.message.body"></p>
                <span class="time_date"> {{item.time}}</span>
              </div>
            </div>
          </div>

          <div *ngIf="typing" class="typing_status">
            <p>{{typing}}</p>
          </div>

        </div>

        <div class="type_msg">
          <div class="input_msg_write">
            <form #msgForm="ngForm" (ngSubmit)="onSendMsg()" (keyup.enter)="onSendMsg()">
              <textarea [(ngModel)]="document.body" name="message" class="write_msg" placeholder="Nhập tin nhắn..." #msg
                (keyup)="onTyping(msg.value)"></textarea>
              <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
              <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>


      <div class="status_people col-md-2 col-sm-2">
        <div class="member_list">
          <div class="mb-3 p-2 border-bottom border-light clearfix">
            <p class="info_name">Thành viên</p>
          </div>
          <ul class="list-unstyled">
            <li *ngFor="let item of members" class="clearfix">
              <img class="avatar w-25" src="{{item.avatar}}" alt="{{item.name}}">
              <p>{{item.name}}
                <br>
                <small *ngIf="item.online==1">online</small>
                <small *ngIf="item.online==2">offline</small>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>